@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
	Layout = "MasterTemplate.cshtml";
}

@* the fun starts here *@

<div>
    <h2>Kontakta gärna oss!</h2>
    <h5>Telefonnummer: 0764 78 89 60</h5>
    <h5>Epostadress: John.Doe@nomail.com</h5>
</div>